.MemberInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.InfoImg {
    width: 150px;
    z-index: 2;
}

.infoContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
}

.infoContainer button {
    font-size: 80px;
    color: white;
    background: none;
    border: none;
    /* padding: 20px; */
    cursor: pointer;
    outline: none;
}

.dataContainer{
    width: 300px;
    height: 160px;
    background-color: #D84848;
    padding: 25px;
    border-radius: 30px;
    box-shadow: 0px 3px 6px #00000029;
}

.infoTitle{
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.stat{
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.stat > * {
    margin: 5px;
}

.statTitle {
    margin-right: 15px;
    text-align: right;
    text-transform: capitalize;
    width: 50px;
}

.typesContainer .dataContainer{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
}

.statLine{
    border: 4px solid white;
    height: 0;
    border-radius: 20px;
}

.rec-pagination{
    display: none !important;
}

.lgksPe,
.iLquPE{
    box-shadow: none !important;
}

.lgksPe:hover,
.iLquPE:hover{
    background-color: transparent !important;
    border: none !important;
}

.lgksPe:active,
.iLquPE:active{
    background-color: transparent !important;
    border: none !important;
}

.lgksPe:focus,
.iLquPE:focus{
    background-color: transparent !important;
    border: none !important;
}

.tXlBS:focus,
.galrjd:focus,
.ewJlEB:focus{
    outline: none !important;
    border: none !important;
}

.typeInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.typeInfo .type{
    padding: 4px 30px;
    border-radius: 20px;
    flex-wrap: nowrap;
    position: relative;
}

.typeDmg{    
    background-color: white;
    border-radius: 50%;
    padding: 7px;
    color: black;
    align-self: flex-end;
    position: absolute;
    right: 1px;
    top: 1px;
    font-size: 10px;
}

