.PokemonInfo {
    background-color: rgb(109, 184, 109);
    padding: 50px;
    border-radius: 20px;
    width: 100%;
}

.PokemonInfo img {
    width: 250px;
    background-color: lightgray;
    padding: 25px;
    margin: 10px;
    border-radius: 20px;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
}

.pokemonName{
    text-transform: uppercase;
    padding: 20px;
    display: block;
    background-color: silver;
    border-radius: 10px;
    font-size: 22px;
}

.typeContainer{
    display: flex;
    justify-content: center;
}

.type{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    width: 250px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 5px;
    color: white;
}

.normal {
    background-color: #C5C5AF;
}

.poison {
    background-color: #A28CC8;
}

.psychic{
    background-color: #C88CA6;
}

.grass {
    background-color: #90C88C;
}

.ground {
    background-color: #C5CE71;
}

.ice {
    background-color: #8CC2C8;
}

.fire {
    background-color: #D68773;
}

.rock {
    background-color: #C8C08C;
}

.dragon {
    background-color: #7D77C8;
}

.water {
    background-color: #80B2E4;
}

.bug{
    background-color: #B4B441;
}

.dark {
    background-color: #A16f57;
}

.fighting{
    background-color: #A27267;
}

.ghost{
    background-color: #6461A2;
}

.steel {
    background-color: #C1C8DB;
}

.flying {
    background-color: #80A5F2;
}

.electric{
    background-color: #D9D949;
}

.fairy{
    background-color: #C484C8;
}