.PokemonPage {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}

.pokePageInfo {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 20px;
}

.PokemonPage .name {
    text-transform: capitalize;
}

.pokePageInfo img {
    width: 300px;
}