.pokeData{
    min-width: 290px;
}

.pokeData .pokeTitle .name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: #B83737;
    color: #ffffff;
    padding: 12px 0 12px 12px;
    padding-right: 20px;
    -webkit-clip-path: polygon(0 0, 79% 0, 36% 100%, 0 100%);
    clip-path: polygon(0 0, 79% 0, 36% 100%, 0 100%);
}

.pokeData .pokeTitle .name img{
    width: 30px;
    margin-right: 12px;
}

.pokeData .pokeTitle .tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 30px;
    background-color: #000000;
    padding: 12px 0;
    -webkit-clip-path: polygon(43.5% 0, 100% 0, 100% 100%, 34.7% 100%);
    clip-path: polygon(43.5% 0, 100% 0, 100% 100%, 34.7% 100%);
    color: #ffffff;
    margin-top: -54px;
    margin-bottom: 24px;
}

.pokeData .pokeTitle .tags div{
    display: flex;
    align-items: center;
    margin: 0 12px;
    padding: 0 12px;
    border-radius: 17px;
}

.pokeData .tables{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.pokeData .tables .pokeName{
    padding: 12px;
    text-align: center;
    background-color: #F1F1F1;
    text-transform: capitalize;
    margin-bottom: 12px;
}

.pokeData .pokeData-table{
    width: 100%;
    border-collapse: collapse;
    border: none;
}

.pokeData .pokeData-table td{
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #00000085;
    background-color: #ffffff;
}

.pokeData .pokeData-table tr:last-child td {
    border-bottom: 0;
}

.pokeData .pokeData-table td.tableTitle{
    background-color: #F1F1F1;
}

.pokeData .pokeData-table thead{
    border-bottom: 2px solid #000000af;
}

.pokeData .pokeData-table thead td{
    background-color: #F1F1F1;
    text-transform: capitalize;
}

.pokeData .pokeData-table tbody td{
    border-collapse: collapse;
}

.pokeData button{
    box-shadow: none !important;
}

.pokeData button:hover{
    background-color: transparent !important;
    border: none !important;
}

.pokeData button:active{
    background-color: transparent !important;
    border: none !important;
}

.pokeData button:focus{
    background-color: transparent !important;
    border: none !important;
}

.pokeData button:focus{
    outline: none !important;
    border: none !important;
}

.rec-carousel-wrapper {
    width: 400px !important;
}

@media(max-width: 670px){

    .pokeData .pokeTitle .tags{
        -webkit-clip-path: polygon(35% 0, 100% 0, 100% 100%, 25% 100%);
        clip-path: polygon(35% 0, 100% 0, 100% 100%, 25% 100%);
    }

}