.TeamContainer-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #5f6171;
    width: 100%;
    padding: 20px;
    clip-path: 
        polygon(
        0% 15%,     /* top left */
        10% 0%,     /* top left */
        90% 0%,    /* top right */
        100% 15%,   /* top right */
        100% 85%,  /* bottom right */
        90% 100%,  /* bottom right */
        10% 100%,   /* bottom left */
        0 85%      /* bottom left */
        );
}

.TeamContainer-outer {
    width: 60%;
    background-color: #aeb1b5;
    padding: 40px 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}