.Filter {
    display: flex;
    flex-direction: column;
    transition: all 0.4s cubic-bezier(0, 0.57, 0.26, 1.4);
    transform: translateY(-80%);

    position: absolute;
    top: 148px;
    left: 0;
    right: 0;
}

.FilterControls{
    background-color: #3A3A3A;
    height: 300px;
    max-height: 200px;
    color: white;
    text-align: center;
}

.FilterBtn {
    outline: none;
    background-color: #3A3A3A;
    color: white;
    border-radius: 0px 0px 40px 40px;
    width: 200px;
    height: 40px;
    font-size: 18px;
    border: none;
    margin: 0 auto;
    text-align: center;
}

.FilterBtn:hover {
    cursor: pointer;
}

.Filter.active{
    transform: translateY(-10%);
}

.Filter.active .FilterControls {
    max-height: none;
}