.SearchContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    height: 250px;
}

.SearchContainer input{
    padding: 10px 40px;
    border-radius: 10px;
    width: 50%;
    outline: none;
    border: 1px solid black;
    margin-bottom: 20px;
}
